body {
    font-family: roboto, sans-serif;
    background-color: rgb(95, 95, 219);
    margin: 0;
    padding: 0;
}

        /*HOME*/

  #pic  {
    width: 100%;
    height: auto;
  }     

 a {
    text-decoration: none;
 }       
 h1 {
    text-align: center;
    padding-top: 15px;
    color: gold;
 }
 #lists li {
    display: inline-block;
    letter-spacing: 4px;
    font-size: large;
    border-radius: 10px;
    margin-top: 30px;
    padding: 0 30px;
 }
 
 #lists a {
    text-decoration: none;
    color: white;
 }
 .active {
    border-bottom: 2px solid gold;
 }
 #ta {
    text-align: center;
 }
 h1 {
    text-align: center;
    color: gold;
 }
 .line {
    text-align: center;
    font-size: large;
    margin-top: 30px;
    color: white;
 }
 
 .size i {
    color: gold;
 }

        /*HISTORY*/

#history {
    background-color:rgb(95, 95, 219);
}     
#para {
    text-align: justify;
    color: white;
    width: 100%;
    height: 660px;
    
}   
#box {
    width: 49%;
    height: 640px;
    float: right;
}
#box img {
    width: 100%;
    height: 190px;
    padding: 0 0 0 5px;
}

        /*GALLERY*/

#gallery {
    background-color:  rgb(95, 95, 219);
}   
#photos img {
    width: 33%;
    height: 350px;
    margin: auto;
    border-radius: 10px;
    
}
img:hover {
    transform: translateY(-5px);
}


        /*SOCIAL MEDIA*/

#socialmedia {
    font-size: xx-large;
    text-align: center;
}
#socialmedia i {
    font-size: 100%;
    color: white;
    padding: 5%;
}
#socialmedia a :hover {
    transform: translateY(-5px);
    color: gold;
}

        /*MEDIA QUERIES*/

@media (max-width:805px)  {
    #photos img {
        width: 49%;
    }
    }

@media (max-width:500px)  {
        #photos img {
            width: 99%;
        } 
        }

@media (max-width:972px){
    #para {
        width: 100%;
        height: auto;
    }
    #box {
        width: 100%;
        height: auto;
    }
}
