body {
    font-family: roboto, sans-serif;
    background-color: rgb(95, 95, 219);
    margin: 0;
    padding: 0;
}

        /*HOME*/ 

 a {
    text-decoration: none;
 }       
 h1 {
    text-align: center;
    padding-top: 15px;
    color: gold;
 }
 #lists li {
    display: inline-block;
    letter-spacing: 4px;
    font-size: large;
    border-radius: 10px;
    margin-top: 30px;
    padding: 0 30px;
 }
 
 #lists a {
    text-decoration: none;
    color: white;
 }
 .active {
    border-bottom: 2px solid gold;
 }
 #ta {
    text-align: center;
 }
 h1 {
    text-align: center;
    color: gold;
 }
 .line {
    text-align: center;
    font-size: large;
    margin-top: 30px;
    color: white;
 }
 
 .size i {
    color: gold;
 }

        /*HISTORY*/
       
#paragraph {
    text-align: justify;
    font-size: large;
    color: white;
    width: 99%;
    height: 775px;
    padding: 0 5px 0 5px;   
}   
#paragraph p {

    width:50%;
    height: 195px;
    border-bottom: 1px solid gold;
}
#box {
    width: 49%;
    height: 775px;
    float: right;  
}
#box img {
    width: 99%;
    height: 246px;
    border-radius: 10px; 
}

        /*GALLERY*/
  
#photos img {
    width: 33%;
    height: 350px;
    margin: auto;
    border-radius: 10px; 
}
img:hover {
    transform: translateY(-5px);
}

        /*SOCIAL MEDIA*/

#socialmedia {
    font-size: xx-large;
    text-align: center;
}
#socialmedia i {
    font-size: 100%;
    color: white;
    padding: 5%; 
}
#socialmedia a :hover {
    transform: translateY(-5px);
    color: gold;   
}

        /*MEDIA QUERIES*/

@media (max-width:869px)  {
    #photos img {
        width: 50%;  
    }
    }

@media (max-width:500px)  {
        #photos img {
            width: 100%;
        } 
        .line {
            text-align: justify;
        }
        }

@media (max-width:990px){
    #paragraph {
        width: 99%;
        height: auto;
    }
    #paragraph p {
        width: 99%;
        height: auto;
    }
    #box {
        width: 100%;
        height: auto;   
    }
}
